:root {
    --primary-color: #6a11cb;
    --secondary-color: #2575fc;
    --text-color: #f8f9fa;
    --bg-color: #ffffff;
    --card-bg: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 画面全体の高さを最小とする */
}

main {
    flex-grow: 1; /* mainコンテンツが利用可能なスペースを占める */
}

.hero-header {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    border-bottom: 5px solid var(--primary-color);
}

.hero-header .display-4 {
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 20px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px var(--shadow-color);
}

.card-title {
    font-weight: 600;
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 25px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.footer {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    margin-top: auto; /* フッターを可能な限り下部に押しやる */
}
