@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #2c3e50;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 500px;
  text-align: center;
}

h2 {
  margin: 0 0 20px;
}

small {
  display: block;
  margin-bottom: 20px;
}

h1 {
  margin: 0 0 20px;
}

input {
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 12px 20px;
  width: 100%;
}

.score-container {
  position: absolute;
  top: 60px;
  right: 20px;
}

.time-container {
  position: absolute;
  top: 60px;
  left: 20px;
}

.end-game-container {
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.end-game-container h1 {
    font-size: 50px;
}

.end-game-container button {
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
}